<!-- 
######################################################################
# Project           : JSONP Attack
#
# Program name      : evil.html
#
# Author            : Evan Kivolowitz
#
# Date created      : 02/19/2019
#
# Purpose           : HTML file returned by evil.py
#
# Credit            :
#
# Use                                    Source
#
# Revision History  :
#
# Date        Author              Ref    Revision 
# 02/19/2019  Evan Kivolowitz      1     Created prototype of project.
# 02/28/2019  Evan Kivolowitz      2     Updated headers.
# 02/28/2019  Evan Kivolowitz      3     Renamed file.
#
######################################################################
-->
<html>
<head>
    <title>JSONP</title>
</head>
    <body>
        <p>Feed me your data!</p>
        <script type="application/javascript">
            function foo(e) {
                
            }                
        </script>
        <script type="application/javascript" src="your CSRF URI goes here"></script>
    </body>
</html>
